.main__info {
    width: 20%;
    padding: 10px;
}

.main__info-img {
    width: 225px;
    height: 210px;
    border: 1px solid #80808047;
    padding: 5px;
    border-radius: 7px;
}

.main__info-username,
.main__info-name,
.main__info-bio,
.main__info-following,
.main__info-followers,
.main__info-stars {
    padding: 5px;
    border-bottom: 1px solid #80808047;
}

.main__info-username {
    font-weight: bold;
    text-align: center;
}

.main__repos {
    margin-left: 20px;
    width: 70%;
    padding: 10px;
    border-left: 1px solid gainsboro;
}

.main__repos-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid gainsboro;
    width: 135px;
    padding: 10px;
}

.main__repos-link {
    margin-left: 40px;
    padding: 10px;
}

.main__repos-link li {
    list-style-type: decimal;
    padding: 10px;
}

@media (max-width: 980px) {
    .main__info {
        width: 100%;
    }

    .main__repos {
        width: 100%;
        border: none;
        margin-left: 0px;
        margin-top: -70px;
    }

    .main__info-username {
        text-align: left;
    }

}