.main {
  color: var(--main-header-text-color);
  margin: 0.5% 1.5%;
  font-weight: 500;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  overflow: hidden;
  min-height: 500px;
}
.avatar {
  width: 18%;
  margin: 0 1%;
  align-self: center;
}
.description {
  font-size: 1.2em;
  text-indent: 2em;
  width: 80%;
  padding: 1%;
  line-height: 2;
  text-align: justify;
  text-justify: inter-word;
}
.main a {
  align-self: center;
  text-decoration: none;
  color: var(--main-header-text-color);
  font-style: oblique;
  font-size: 1.2em;
}
.main a:hover {
  text-shadow: 0.6px 0.2px var(--main-header-text-shadow-color);
}
